---
Language:        Cpp
# Determines the base style to be extended or overridden
BasedOnStyle:    LLVM

# Brace formatting
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true

# Indentation
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# Line length control
ColumnLimit:     300

# List initialization formatting
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Spaces
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
PointerAlignment: Left

# Sorting includes
IncludeBlocks:   Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
...
