# Top-most EditorConfig file
root = true

# Specify the charset for the files
[*]
charset = utf-8

# Use 4 spaces for indentation
[*.cpp, *.h]
indent_style = space
indent_size = 4

# Use LF (Unix) line endings
[*]
end_of_line = lf

# Trim trailing whitespace
[*]
trim_trailing_whitespace = true

# Ensure a single newline at the end of the file
[*]
insert_final_newline = true

# Set tab width to 4 for any other files (e.g., makefiles)
[*.{mk,make}]
indent_style = tab
tab_width = 4
