.idea
.vs
unlockfps_nc/bin
unlockfps_nc/obj/Debug
unlockfps_nc/obj/Release
unlockfps_nc/obj/project.assets.json
unlockfps_nc/obj/project.nuget.cache
unlockfps_nc/obj/unlockfps_nc.csproj.nuget.dgspec.json
unlockfps_nc/obj/unlockfps_nc.csproj.nuget.g.props
unlockfps_nc/obj/unlockfps_nc.csproj.nuget.g.targets
