.idea
.vs

unlockfps_nc/bin
unlockfps_nc/obj
unlockfps_nc/Resources/UnlockerStub.dll
unlockfps_nc/Resources/UnlockerStub.exp
unlockfps_nc/Resources/UnlockerStub.lub
unlockfps_nc/Resources/UnlockerStub.pdb

UnlockerStub/x64

Upload

*.csproj.user